@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* Hello developer, nice to see you. I appreciate your efforts of learning. I have tried to do very descriptive commenting for each and every piece of code. even I have given
the link reference for your ease. Hope you find it helpful.😇 */


body{
  padding: 40px;
  background-color: #ffffff;  
}

p {
  border-right: solid 3px rgba(0,0,0,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: cursive;  
  font-size: 28px;
  color: #000000;
  animation: animated-text 10s steps(66,end) 1s infinite alternate both, animated-cursor 750ms steps(66,end) infinite;
}

/* text animation */
@keyframes animated-text{
  from{width: 0;}
  to{width: 950px;}
}

/* cursor animations */
@keyframes animated-cursor{
  from{border-right-color:#000000;}
  to{border-right-color: transparent;}
}

/*https://www.w3schools.com/howto/howto_css_images_side_by_side.asp*/
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */  
.column {
  flex: 30%;
  padding: 10px;
  box-shadow: 0 4px 8px #DED8D3;
  border-radius: 15px;
  border-bottom-color: #663399;
  transition: transform .5s;
  opacity: 0.3;
}

/*Same for 4 equal columns for Hobbies section*/
.column1 {
  flex: 25%;
  padding: 10px;
  box-shadow: 0 4px 8px #DED8D3;
  border-radius: 15px;
  border-bottom-color: #663399;
  transition: transform .5s;
  opacity: 0.3;
}

/*For Exploring - 2 columns*/
.column2 {
  flex: 50%;
  padding: 50px;
  box-shadow: 0 4px 20px #DED8D3;
  border-radius: 25px;
  border-bottom-color: #663399;
  transition: transform .5s;
  opacity: 0.3;
}

/* Adds zoom and visibilty on hovering the mouse cursor*/
.column:hover {
  transform: scale(1.1);
  opacity: 1;
}

/* same */
.column1:hover {
  transform: scale(1.1);
  opacity: 1;
}

/*same*/
.column2:hover {
  transform: scale(1.1);
  opacity: 1;
}


h3 {
  color: #1B89A9;
  padding:0px;
  max-width: 100%;
  opacity: 0;
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
  transition: 1s ease;
  text-align: center;
}

.column:hover h3 {
  opacity: 1;
  animation: popout 0.5s 1;
}

.column1:hover h3 {
  opacity: 1;
}

.column2:hover h3 {
  opacity: 1;
}

@keyframes popout {
  from{font-size: 20px;}
  to{font-size: 40px;}
}

h2 {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  text-decoration: underline overline;
}

h1 {
  font-family: 'Lobster', cursive;
  text-decoration: double underline;
}

.Amit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.copyright {
  font-family: monospace, monospace; !important 
  color: #DBD7CE; 
  font-size: 10px;
}

.gumrah {
  display: block;
  position: absolute;
  height: 150px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1B85A6;
  text-align: center;
}
