.name{
  color :#ffffff;
}
body{
  padding: 40px;
  background-color: #ffffff;  
}

p {
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: cursive;  
  font-size: 28px;
  color: #000000;
}

/* Animation */
p { 
  animation: animated-text 10s steps(66,end) 2s infinite alternate both, animated-cursor 750ms steps(66,end) infinite;
}

/* text animation */
@keyframes animated-text{
  from{width: 0;}
  to{width: 950px;}
}

/* cursor animations */
@keyframes animated-cursor{
  from{border-right-color:#000000;}
  to{border-right-color: transparent;}
}


/*https://www.w3schools.com/howto/howto_css_images_side_by_side.asp*/
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */  
.column {
  flex: 33.33%;
  padding: 5px;
  border-radius: 15px;
  border-bottom-color: #663399;
  transition: transform .5s;
  opacity: 0.2;
}

/* Adds zoom and visibilty on hovering the mouse cursor*/
.column:hover {
  transform: scale(1.1);
  opacity: 1;
}

h3 {
  color: #006ac1;
  padding:20px;
  max-width: 100%;
  opacity: 0;
}

h3:hover {
  opacity: 1;
}
