.name{
  color: red;
}
body{
  padding: 40px;
  background-color: #121212;
      background-image: linear-gradient(140deg, #EADEDB, #BC70A4, #BFD641);
}

p {
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: cursive;  
  font-size: 28px;
  color: #43B7e9;
  margin: 0 auto;
}

/* Animation */
p {
  animation: animated-text 9s steps(80,end) 1s 1 normal both, animated-cursor 300ms steps(80,end) infinite;
}

/* text animation */
@keyframes animated-text{
  from{width: 0;}
  to{width: 919px;}
}

/* cursor animations */
@keyframes animated-cursor{
  from{border-right-color:#000000;}
  to{border-right-color: transparent;}
}
